<div class="taskbar">
    <div class="task1">
        <div class="round1" [ngClass]="{ 'active': active1 }">1</div>
        <h6 class="round-text">Personal Information</h6>
    </div>
    <div class="line"></div>
    <div class="task1">
        <div class="round1" [ngClass]="{ 'active': active2 }">2</div>
        <p class="round-text">Qualifications</p>
    </div>
    <div class="line"></div>
    <div class="task1">
        <div class="round1" [ngClass]="{ 'active': active3 }">3</div>
        <p class="round-text">Review and Proceed</p>
    </div>
</div>