<app-header [imgUrl]="url"></app-header>
<app-navbar [visible]="true" [backUrl]="'/'"></app-navbar>
<div class="main">
    <app-taskbar [active1]="true"></app-taskbar>
    <form class="form1" [formGroup]="pageOneForm">
        <div class="inputs">
            <div class="form-input form-child">
                <div class="mb-4">
                    <label for="fname" class="form-label">First Name*</label>
                    <input type="text" class="form-control" id="fname" name="fname" formControlName="fname">
                    <div *ngIf="fc.fname.errors?.required">
                        <div class="alert alert-danger" *ngIf="fc.fname.touched && fc.fname.invalid">First Name is Required... </div>  
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="lname" class="form-label">Last Name*</label>
                    <input type="text" class="form-control" id="lname" name="lname" formControlName="lname">
                    <div *ngIf="fc.lname.errors?.required">
                        <div class="alert alert-danger" *ngIf="fc.lname.touched && fc.lname.invalid">Last Name is Required... </div>  
                    </div>
                  </div>

                  <div class="mb-4">
                    <label for="email" class="form-label">Email*</label>
                    <input for="email" class="form-control" type="email" name="email" formControlName="email">
                    <div *ngIf="fc.email.errors?.required">
                        <div class="alert alert-danger" *ngIf="fc.email.touched && fc.email.invalid">Email is Required... </div>  
                    </div>
                    <div *ngIf="fc.email.errors?.pattern"> 
                        <div class="alert alert-danger" *ngIf="fc.email.touched && fc.email.invalid">Invalid Email Id... </div> 
                    </div>
                  </div>

                  <div class="mb-4">
                    <label for="phone" class="form-label">Phone Number*</label>
                    <div class="input-group">
                        <div class="input-group-prepend code me-2 pt-1">
                          <span class="">+91</span>
                        </div>
                        <input type="text" class="form-control" id="phone" name="phone" formControlName="phone">
                    </div>
                    
                    <div *ngIf="fc.phone.errors?.required">
                        <div class="alert alert-danger" *ngIf="fc.phone.touched && fc.phone.invalid">Phone Number is Required... </div>  
                    </div>
                    <div *ngIf="fc.phone.errors?.pattern"> 
                        <div class="alert alert-danger" *ngIf="fc.phone.touched && fc.phone.invalid">Invalid Phone Number... </div> 
                    </div>
                  </div>

                  <div class="resume mb-4" >
                    <input #uploadResume type="file" id="resumeInput"  accept=".pdf"  (change)="onResumeSelected($event)" hidden>
                    <img class="upload" src="../../assets/icons/upload.svg" alt="">
                    <h6 class="resume-text" (click)="uploadResume.click()">UPLOAD RESUME</h6>
                  </div>

                  <div class="mb-4">
                    <label for="portfolio" class="form-label">Enter Portfolio URL (if any)</label>
                    <input type="text" class="form-control" id="portfolio" name="portfolio" formControlName="portfolio">
                  </div>

                  <div class="mb-4">
                    <label for="preferredRole" class="form-label">Preferred Job Roles*</label>
                    
                    <div class="check" *ngFor="let job of jobs">
                        <input
                          class="check-btn"
                          type="checkbox"
                          [id]="job.value"
                          [value]="job.value"
                          [formControl]="getFormControl(job.value)"
                          (change)="onCheckboxChange(job.value, $event)"
                        >
                        <label class="remember" [for]="job.value">{{ job.label }}</label>
                    </div>
                    
                  </div>

                  <div class="mb-4">
                    <label for="referral" class="form-label">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</label>
                    <input type="text" class="form-control" id="referral" name="referral" formControlName="referral">
                  </div>

                  <div class="check mb-4">
                    <input class="check-btn" type="checkbox" id="rem" formControlName="sendUpdate">
                    <label class="remember"for="rem">Send me job related updates via mail</label>
                </div>
                  

            </div>

            <div class="form-profile form-child">
                <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden>
                <img *ngIf="!selectedFile" class="profile-pic" src="../../assets/icons/account_circle1.svg" alt="">
                <img *ngIf="selectedFile" [src]="selectedFileURL" alt="Uploaded Profile" class="profile-image">
                <h6 class="upload-text" (click)="fileInput.click()">UPLOAD DISPLAY PICTURE</h6>
                <p class="pic-msg">Max. image size: 5MB</p>
            </div>
        </div>
        <div class="button-container">
            <button type="button" [routerLink]="'/qualifications'"  class="btn text-dark shadow" [disabled]="pageOneForm.invalid" (click)="nextButton()">Next</button>
            <!-- <button type="button" [routerLink]="'/qualifications'"  class="btn text-dark shadow"  (click)="nextButton()">Next</button> -->
        </div>
    </form>
</div>


